<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.2" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Moq" version="4.5.29" targetFramework="net452" />
  <package id="MvvmCross" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="net452" />
  <package id="MvvmCross.Tests" version="4.4.0" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
</packages>